/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : Tue Oct 15 2019
 * @Description: Style.
 */
 html, body, #container {
  position: relative;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  height: 100%;
}

.game {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
